.navbar, .jumbotron {
    background-color: #FDA381;
}

#logo {
    width: 22em;
}

.navbar-nav li{
    display: flex;
    flex-direction: column;
}

.shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0,.5)
    
}

.infos-item input{
    width: 25em;
    
}

.btn_color {
    background-color: #FECAB6;
}

.img_w, .img_z {
    width: 80%;
}

.jumbotron {
    background-color: #FECAB6
}

.card-img-top {
    width: 10em;
    align-self: center;
}

.txfooter {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
}





